@use '../abstracts' as a;


.feature-box{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
    padding: 1rem;

    @include a.respond(tab-big){
        flex: 0 0 45%;
    }

    @include a.respond(desktop){
        flex: 0 0 33.33333%;
    }


    &__icon{
        width: 7.5rem;
        height: auto;
    }

}

