@use '../abstracts' as a;

body{
    color:#fff;
}

.heading{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;

    &-primary{
        font-size: 3rem;
        line-height: 1.5em;

        @include a.respond(tab-small){
            font-size: 2.7rem;
        }

        @include a.respond(desktop){
            font-size: 3.5rem;
        }


    }

    &-secondary{
        font-size: 2rem;
        line-height: .5em;

        @include a.respond(tab-small){
            font-size: 1.7rem;
        }

        @include a.respond(desktop){
            font-size: 2.5rem;
        }
    }
}

.paragraph{
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5em;
    color:rgb(206, 205, 205);

    @include a.respond(desktop){
        font-size: 1.7rem;
    }

    &-small{
        font-size: 1.4rem;
        line-height: 1.7em;
    }
}