@use '../abstracts' as a;

.container{
    padding: 2rem;

    @include a.respond(tab-small){
        padding:4rem;
    }

    @include a.respond(tab-big){
        padding:3rem 6rem;
    }
}

.features-section{
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;
    gap:8rem;
    padding: 12rem 2rem;

    @include a.respond(tab-small){
        padding:11rem 4rem;
    }

    @include a.respond(tab-big){
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        align-items: stretch;
        
        gap:7rem;
    }

    
}

.testimonials-section{
    background-color: var(--color-primary);
    padding: 12rem 2rem 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:3rem;

    @include a.respond(tab-small){
        padding:11rem 4rem 40rem;
    }

    @include a.respond(tab-big){
        padding:11rem 6rem 40rem;
    }
    
    @include a.respond(desktop){
        flex-direction: row;
    }

}