@use '../abstracts' as a;

.logo{
    width:10rem;
    height:auto;
    transition: all .2s;

    @include a.respond(tab-big){
        width:12rem;
    }


    &-big{
        width:15rem;

    }

    &:hover{
        width: 11rem;

        @include a.respond(tab-big){
            width:13rem;
        }
    }
}