@use "../abstracts" as a;

.signup-box {
  background-color: var(--color-primary-light-2);
  padding: 5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 3rem 3rem rgba(#000, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;

  margin-top: -31rem;

  @include a.respond(tab-small) {
    padding: 5rem 6.5rem;
  }

  @include a.respond(tab-big) {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem 8rem;
  }

  @include a.respond(desktop) {
    padding: 5rem 6rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  @include a.respond(desktop) {
    flex-direction: row;
  }

  &,
  &__input,
  button {
    width: 100%;

    @include a.respond(tab-big) {
      width: 90%;
    }
  }

  &__input {
    padding: 2rem 4rem;
    border-radius: 50px;
    border: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;

    @include a.respond(desktop) {
      flex: 0 0 60%;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: rgb(163, 160, 160);
    }
  }
}
